{% extends 'base.html.twig' %}



{% block body %}

 <h1>Listado de localidades<h1>
 


		<ul>
	    
	        <li>
	        	{{ localidad.id}} -
	        	{{ localidad.nombre }} -
	        	{{ localidad.area }} -
	        	{{ localidad.habitantes }} - 
	        	{{ localidad.cp }} 
	        	{{ localidad.provincia.nombre }} 
			</li>

		</ul>
			   


	<a href=" {{ path('localidad_nuevo') }}">Añadir localidad</a>


{{ dump(localidad) }}

{% endblock %}
